/*=============== RESET ===============*/
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #f5f5f5;	
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}
/*============= CONTAINER ================*/
.container{
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
}

/*============= BG COLORS ================*/
.bg-black{
	background-color: black;
}
.bg-white{
	background-color: #fff;
}

/*============= HELPERS ================*/
.radius{
	border-radius: 7px;
}

/* CABEÇALHO */
.logo{
	width: 56px;
	height: 56px;
	float: left;
	background: url(../img/logo-mobile.png) center center/56px no-repeat;
	font-size: 0;
}

/* MENU */
.menu{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
}

.btn-close{
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0;       /*margin: superior direita inferior esquerda*/
	/*margin-right: 5%;*/
}

.menu ul{
	width: 100%;
	float: left;
	text-align: center;
}

.menu li{
	padding: 1.5%;
}

.menu li a{
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;
}

.menu li a:hover{
	border: 1px solid red;
}

label[for="bt_menu"]{
	float: right;
	border-radius: 56px;
	padding: 5px;
	color: #fff;
	font-family: "Arial";
	text-align: center;
	font-size: 33px;
	cursor: pointer;
	width: 56px;
	height: 56px;
	background: linear-gradient(to top, black, red);
}
#bt_menu{
	display: none;
}

/* BANNER */
.banner{
	background: url(../img/bg.jpg) no-repeat fixed;
}

.title{
	width: 100%;
}

.title h2{
	font-size: 2.5em;
	color: #fff;
	font-weight: 700;
}

.title h3{
	font-size: 1.5em;
	color: #fff;
}

.buttons{
	width: 100%;
	margin-top: 2%;
}

.btn{
	width: 100%;
	font-size: 1.5em;
	text-align: left;
	cursor: pointer;
	padding: 5%;
}
.btn-cadastrar{
	color: black;
}

.btn-sobre{
	color: #fff;
	margin-top: 2%;
}

/* SERVIÇOS */
.servico{
	width: 100%;
	text-align: left;
	margin-bottom: 3%;
}

.servico img{
	border-radius: 7px 7px 0 0;  /*border-radius: superior direita px superior direita px inferior esquerda px inferior direita px */
}

.inner{
	padding: 7%;
}

.inner a{
	font-size: 1.5em;
	color: black;
	font-weight: 700;
}

.inner h4{
	font-size: 1.2em;
	color: black;
	margin-top: 2%;
}

.inner p{
	margin-top: 6%;
	color: black;
	/* font-size: 1em já é o padrão definido pelo navegador */
	line-height: 1.5em; /*aumenta a altura das linhas */
}

/* NEWSLETTER */
.newsletter h2{
	font-size: 1.5em;
	color: white;
	font-weight: 700;
}

.newsletter h3{
	color: white;
}

.newsletter form{
	margin-top: 2%;
}
.newsletter input {
	width: 100%;
	color: white;
	/*border: 1px solid white;*/
	border: 1px solid rgba(255,255,255,0.3); /*0.3 é a transparência*/
	padding: 5%;
}

.newsletter button{
	width: 100%;
	color: black;
	padding: 5%;
	cursor: pointer;
	margin-top: 2%;
}

/* RODAPÉ */
.rodape{
	background: linear-gradient(to top, black, red);
}

.social-icons a span{
	opacity: 0.7;
	margin-right: 3%;
}

.social-icons a:last-child{
	margin-right: 0;
}

.social-icons a span:hover{
	opacity: 1;
}

.copyright{
	margin-top: 15%;
	color: rgba(255,255,255,0.7);
}

/* ================ MOBILE FIRST ============== */
/* SMALL DEVICES - SMARTPHONES */
@media screen and (min-width: 480px){
.logo{
	width: 214px;
	background: url(../img/logo.png) center center/214px no-repeat;
}

.btn{
	font-size: 2em;
}
}

/* SMALL DEVICES - TABLETS */
@media screen and (min-width: 768px){
.servico{
	width: 49%;
	float: left;
	margin-right: 2%;
}

.servico:nth-child(2){
	margin-right: 0;
}

.newsletter h2{
	font-size: 2em;
}

.newsletter h3{
	font-size: 1.5em;
}

.newsletter input{
	width: 70%;
	padding: 2%;
	float: left;
	margin-right: 1%;
}

.newsletter button{
	width: 29%;
	padding: 2%;
	float: right;
	margin-top: 0;
}

.copyright{
	margin-top: 8%;
}
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
@media screen and (min-width: 960px){
.title{
	width: 70%;
	float: left;
	text-align: left;
}

.title h2{
	font-size: 3em;
}

.title h3{
	font-size: 2em;
}
.buttons{
	width: 30%;
	float: right;
	margin-top: 0;
}

.servico{
	width: 32%;
}

.servico:nth-child(2){
	margin-right: 2%;
}

.servico:nth-child(3){
	margin-right: 0;
}

.newsletter input{
	width: 60%;
	float: none;
}

.newsletter button{
	width: 20%;
	float: none;
}

.copyright{
	margin-top: 7%;
}
}

/* LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width: 1280px){
.cabecalho label{
	display: none;
}
.btn-close{
	display: none;
}

.menu{
	width: auto;
	height: 56px;
	line-height: 56px;
	float: right;
	background-color: #f5f5f5;
	display: block !important;
	position: static;	
}

.menu li{
	padding: 0;
	float: left;
}

.menu li a{
	color: black;
	font-size: 1em;
	padding: 15px;
}

.menu li a:hover{
	border: none;
	color: red;
}

.copyright{
	margin-top: 5%;
}
}